<tr>
  <td>
    <% if job.hidden %>
      <%= link_to("", publish_admin_job_path(job), method: :post, :class => "fa fa-lock", style: "text-decoration:none;")%>
    <% else %>
      <%= link_to("", hide_admin_job_path(job), method: :post, :class => "fa fa-eye", style: "text-decoration:none") %>
    <% end %>
  </td>
  <td><%= link_to(job.title,admin_job_path(job)) %></td>
  <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
  <td><%= job.wage_lower_bound %></td>
  <td><%= job.wage_upper_bound %></td>
  <td><%= link_to("Delete", admin_job_path(job), method: :delete, data: { :confirm => "Are you sue?"}, class: "btn btn-danger") %></td>
  <td><%= job.created_at %></td>
</tr>
