<div class="col-md-8">
  <h3 class="text-center"><%= @job.title %></h3>
  <hr>
  <p class="text-center"><%= @job.description %></p>
  <hr>
  <p>薪资：<%= @job.wage_lower_bound %>~<%= @job.wage_upper_bound %></p>
  <br>
  <br>
  <p>联系方式： <%= @job.contact_email %> </p>
</div>
